html {
    background: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
}

.bg {
    padding: 1%;
    background-color: hsl(0, 0%, 100%);
    width: 19%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 5%;
}

img {
    display: block;
    position: absolute;
    width: 19%;
    margin-left: -.1%;
    border-radius: 5%;
}

h2, p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    width: 100%;
    margin-top: 108%;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 20px;
}

p {
    font-size: 15px;
    width: 90%;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}